body {
    background-image: url('../IMGs/YarnAndHookBackground.png');
    background-repeat: repeat-y;
    background-size: 100% auto;
    font-size: 25px;
    border: 20px double rgb(112, 196, 224);
    text-align: center;
}

h1, h2, h3 {
    color: rgb(0, 84, 84);
    background-color: rgba(255, 255, 0, 0.397);
    border: 2px solid yellow;
    display: inline-block;
    padding: 10px;
}

h3 {
    position: absolute;
    left: 50px;
    top: auto;
}

#aboutMeText {
    color:darkblue;
    background-color:rgba(173, 216, 230, 0.432);
    border: 2px solid blue;
    display: inline-block;
    padding: 10px;
    text-align:left;
    margin-left: 450px;
    margin-right: 200px;
    font-size: 30px;
}

.shortcuts {
    left: 300px;
}

.shortcutGroups {
    left: 500px;
}

a {
    color: darkorange;
    background: rgba(255, 175, 27, 0.479);
    border: 2px solid darkorange;
    padding: 5px;
    font-size: 40px;
    margin: 10px;
}


/*the hover stuff*/
h1:hover, h2:hover, h3:hover {
    color: purple;
    background-color: rgba(255, 218, 185, 0.384);
    border: 2px solid peachpuff;
}

a:hover {
    color: lightblue;;
    background: rgba(0, 128, 128, 0.418);
    border: 2px solid rgb(13, 110, 117);
}

#aboutMeText:hover {
    color:darkgreen;
    background-color:rgba(173, 230, 176, 0.432);
    border: 2px solid rgb(1, 153, 1);
}